$color-text: #546e7a;
$color-red: #e74c3c;
$color-green: #8bc34a;
$color-bg-grey: #263238;
$color-bg-white: #f4f6f5;
$color-dots: #e8e8e8;
$color-advantages-text: #b0bec5;
$color-bg-tutorial: #f8f8f8;
$color-footer-text: #919699;
$color-footer-descr: #b7c3c8;

