@import "vars";
@import "global";
@import "fonts";

// ========================= start header ========================

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    margin-right: 5px;
    color: $color-red;
  }
}
.header__phone {
  color: $color-red;
}
.header__btn {
  padding: 10px 0px;
  border-radius: 5px;
  width: 72px;
  text-align: center;
  font-size: 12px;
  &-login {
    background-color: $color-green;
    color: #fff;
  }
  &-register {
    margin-left: 7px;
    background-color: $color-red;
    color: #fff;
  }
}
.header__menu {
  background-color: $color-bg-grey;
}
.menu {
  display: flex;
  align-items: center;
  height: 60px;
}
.menu__list {
  li {
    display: inline-block;
    a {
      color: #fff;
    }
    & + li {
      margin-left: 30px;
    }
  }
}

// ========================= end header ==========================

// ========================= start search ========================

.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 532px;
  &__inner {
    text-align: center;
    color: #fff;
    padding: 156px 0 175px;
    &-title {
      margin-bottom: 34px;
      font-size: 48px;
      color: #fff;
    }
    &-text {
      margin-bottom: 54px;
      font-size: 20px;
    }
    &-form {
      position: relative;
      margin: 0 auto;
      max-width: 670px;
      input {
        display: block;
        height: 56px;
        width: 100%;
        padding: 0 60px 0 25px;
        box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
        border-radius: 5px;
        //
        font-size: 14px;
        letter-spacing: 0.7px;
        &::placeholder {
          color: #90a4ae;
          font-weight: 500;
        }
      }
      button {
        position: absolute;
        background-color: transparent;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

// ========================= end search ==========================

// ========================= start products ======================

.products {
  padding: 121px 0 112px;
  background-color: $color-bg-white;
  &__title {
    margin-bottom: 60px;
  }
  &__inner-btn {
    margin-bottom: 59px;
    text-align: center;
    //
    button {
      color: $color-bg-grey;
      font-size: 14px;
      padding: 13px 20px;
      background-color: #fff;
      & + button {
        margin-left: 5px;
      }
      &.mixitup-control-active {
        background-color: $color-red;
        color: #fff;
      }
    }
  }
  &__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 50px;
  }
  &__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img {
      display: block;
      min-height: 250px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 30px;
      min-height: 90px;
      border-bottom: 1px solid #e7ecf2;
    }
    &-name {
      max-width: 310px;
    }
    &-title {
      display: block;
      margin-bottom: 11px;
      color: $color-bg-grey;
      font-size: 18px;
    }
    &-category {
      display: block;
      color: $color-green;
      font-size: 14px;
    }
    &-price {
      font-family: "Roboto-Bold", sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: $color-bg-grey;
    }
    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 70px;
      padding: 10px 30px;
    }
    &-author {
      max-width: 245px;
      font-size: 14px;
      color: $color-text;
      .avatar {
        vertical-align: middle;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 13px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    &-star {
      display: flex;
      font-size: 12px;
      span {
        vertical-align: middle;
        color: $color-bg-grey;
      }
    }
  }
  &__bottom-btn {
    text-align: center;
    button {
      margin-right: 12px;
      padding: 20px 30px;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
      color: $color-bg-grey;
      &:last-child {
        margin-right: 0;
      }
      &.mixitup-control-active {
        background-color: $color-red;
        color: #fff;
      }
    }
  }
}

// ========================= end products ========================

// ========================= start product-slider ========================

.product-slider {
  padding: 120px 0;
  &-title {
    margin-bottom: 55px;
  }
  .draggable {
    margin-bottom: 37px;
  }
  .slick-dots {
    text-align: center;
    li {
      display: inline-block;
      & + li {
        margin-left: 7px;
      }
      &.slick-active {
        button {
          background-color: $color-green;
        }
      }
      button {
        font-size: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $color-dots;
      }
    }
  }
}

// ========================= end product-slider ========================

// ========================= start advantages ========================
.advantages {
  background-color: $color-bg-grey;
  &__title {
    margin-bottom: 83px;
    color: #fff;
  }
  &__inner {
    padding: 124px 0 118px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    max-width: 320px;
    text-align: center;
    &:hover {
      .advantages__item-img {
        background-color: $color-green;
        transition: all .3s;
      }
      svg {
        fill: #fff;
        transition: all .3s;
      }
      .advantages__item-title {
        transition: all .3s;
        color: $color-green;
      }
    }
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 33px;
      width: 113px;
      height: 113px;
      border-radius: 50%;
      background-color: #ffffff;
      svg {
        width: 80px;
        height: 80px;
      }
    }
    &-title {
      color: #ffffff;
      font-size: 24px;
    }
   
    &-text {
      color: $color-advantages-text;
      font-family: "Roboto-Regular", sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}

// ========================= end advantages ========================
